<div class="btn">
    <div [style.fontSize.px]="tamanio" class="contenedor">
      Hola mundo
    </div>
  
    <button type="button" (click)="aumentar()" [disabled]="tamanio === 500" class="boton">
      Aumentar
    </button>
    <button type="button" (click)="reducir()" [disabled]="tamanio === 5" class="boton">
      Reducir
    </button>
    <div class="advertencia">
      <span>{{ text }}</span>
    </div>
  </div>