.boton{
    padding: 20px;
    text-align: center;
    /* margin: 2%; */
    background-color: aquamarine;
    color: red;
    font-size: 40px;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 200px;
}
.contenedor{
    margin: 50px;
    text-align: center;
}
.advertencia{
    color: red;
    background-color: yellow;
    font-size: 40px;
}